{#
@path: /src/AdminBundle/Resources/views/layout.html.twig
@author: Loiy Shen <web@loiy.net>
#}
{% extends "::base.html.twig" %}

{% block title %}Admin - Symfony 2.3 Demo{% endblock %}
{% block meta_tags %}
<meta name="Keywords" content="Symfony,Symfony Demo, Symfony 2.3 Application" />
<meta name="description" content="The Admin Bundle of the Symfony 2.3 Application." />
{% endblock %}
{% block common_stylesheets %}
<link rel="stylesheet" href="{{ asset('/static/css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('/static/css/admin.css') }}" />
{% endblock %}
{% block other_stylesheets %}{% endblock %}

{% block common_javascripts %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset('/static/js/html5shiv.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/static/js/respond.min.js') }}"></script>
<![endif]-->

<script type="text/javascript" src="{{ asset('/static/js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/static/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/static/js/common.js') }}"></script>
<script type="text/javascript">
cur_route = '{{ path(app.request.attributes.get('_route')) }}';
</script>
{% endblock %}
{% block other_javascripts %}{% endblock %}

{% block body %}
<div class="container">
    <div class="header row" id="header">
        {% block header %}
            {{ include('AdminBundle::Common/header.html.twig') }}
        {% endblock %}
    </div>

    <div class="wrapper row">
        {% block wrapper %}
            <div class="sidebar col-md-3">
                {% block sidebar %}
                    {{ include('AdminBundle::Common/sidebar.html.twig') }}
                {% endblock %}
            </div>
            <div class="content col-md-9">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    <div class="footer" id="footer">
        {% block footer %}
            {{ include('AdminBundle::Common/footer.html.twig') }}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block footer_javascripts %}{% endblock %}