{#
@path: /src/AdminBundle/Resources/views/Common/header.html.twig
@author: Loiy Shen <web@loiy.net>
#}
<div class="col-md-9">
    <a class="logo" href="{{ path('adm_homepage') }}">Admin Logo</a>
</div>
<div class="login-info col-md-3">
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="text-right">
        <div>
            <span><abbr title="ID: {{ app.user.getId() }}, Account: {{ login_user.getAccount() }}">{{ app.user.getNickname() }}</abbr> | </span> 
            <a href="{{ path('adm_logout') }}">Logout</a>
        </div>
    </div>
    {% endif %}
</div>
