{#
@path: /src/AdminBundle/Resources/views/Security/login.html.twig
@author: Loiy Shen <web@loiy.net>
#}
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Login - Admin{% endblock %}


{% block wrapper %}

<div class="col-md-12">
<form class="form-login" action="{{path('adm_login_check')}}" method="post">
    <h2>Please Login:</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('_csrf_token_id') }}" />
    <div class="form-group">
        {{ form_widget(form.account, {"attr": {"class": "form-control", "placeholder": form.account.vars.label}}) }}
        {{ form_widget(form.passwd, {"attr": {"class": "form-control", "placeholder": form.passwd.vars.label}}) }}
    </div>
    {% if errMsg %}
    <div class="form-group bg-warning">
        <div class="text-danger errmsg">{{ errMsg }}</div>
    </div>
    {% endif %}
    <div class="checkbox">
        <label for="{{ form.remember_me.vars.id }}">{{ form_widget(form.remember_me) }} {{ form.remember_me.vars.label }}</label>
    </div>
    <div class="form-group">
        {{ form_widget(form.login_submit, {"attr": {"class": "btn btn-primary btn-lg btn-block"}}) }}
    </div>
</form>
</div>

{% endblock %}